@media (min-width: 32.5em) {
    body{
        background-color: red;
    }
     .top{
        flex-direction: row;
        width: 50%;
    }

    .top h1{
        font-size: 3rem;
    }
    
    .middle h2{
        font-size: 2.5rem;
    }
 
    
}

