@media (min-width: 32.5em) {
    main{
        grid-template-columns: auto auto;
    } 
}

@media (min-width: 375px) {
   h1{
        font-size:1rem;
        text-align: center;
        padding-left: 2rem;
   }
   .profile{
    margin-left: 3rem;
   }
}


