@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    main{
        grid-template-columns: auto auto;
    } 
 header,main,footer{
    width: 100%;
    
 }
 header {
    border-radius: 0;
 }
 header h1,h2{
    font-size: 20px;
 }
 nav{
     border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

 }
 .list li a{
    font-size: 15px;
    padding: 2px;
 }
}

@media (min-width: 1000px) {
    main{
        grid-template-columns: auto auto auto;
    } 
    section{
        width: 85%;
    }
}